.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.buttNav{
  font-size: 25px;
}

.countryNameInp{
  font-size: 28px;
}

.countryNameInpcity{
  font-size: 20px;
}


.cityInp{
  margin-right: 20px;
}

.Addcity{
  font-size: 30px;
}
